/* Padding */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}

/* Carousel Caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Carousel Item */
.carousel-item {
  height: 32rem;
}

/* Responsive css */
@media (min-width: 40rem) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}